<% include ./tags/admin/head %>
<meta name="projectId" content="<%= project._id %>">

<style>
.selected {
    background-color: lightgray
    }
.hover:hover {
    background-color: lightgray;
}
.hover:hover button {
    display: inline-block;
}
.ch {
  margin-bottom: 10px;
}
input[type=checkbox]
{
  transform: scale(1.7);
}
</style>
<% include ./tags/admin/header %>

      <!-- page content -->
      <div class="right_col" role="main">
        <div class="page-title">
          <div class="title_left">
              <h3><%= project.name %> <small>Channels Authorization Settings</small></h3>
              <span class="pull-right"><button class="btn btn-success" onclick="createModal()">Create new Channel</button></span>
          </div>
        </div>
          
        <div class="clearfix"></div>
        <br><br>
        <div id="content">
          <div class="x_content">
            <div v-for="c in channels" class="col-lg-3 col-md-3 col-xs-6">
              <div class="x_panel">
                  <div class="x_title">
                      <h2>{{ c.name }}</h2>
                      <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      </ul>
                      <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                      <br />
                      <form class="form-horizontal form-label-left input_mask">
                        <div class="row ch">
                          <div class="col-md-2">
                              <h3 style="margin-top: 0">S1</h3>
                          </div>
                          <div class="form-group col-md-4">
                              <input type="checkbox" v-model="c.permitStatus"  value="S1" >
                          </div>
                          <div class="col-md-2">
                            <h3 style="margin-top: 0">S2</h3>
                          </div>
                          <div class="form-group col-md-4">
                              <input type="checkbox" v-model="c.permitStatus"  value="S2" >
                          </div>
                        </div>

                        <div class="row ch">
                          <div class="col-md-2">
                              <h3 style="margin-top: 0">S3</h3>
                          </div>
                          <div class="form-group col-md-4">
                              <input type="checkbox" v-model="c.permitStatus"  value="S3" >
                          </div>
                          <div class="col-md-2">
                            <h3 style="margin-top: 0">S4</h3>
                          </div>
                          <div class="form-group col-md-4">
                              <input type="checkbox" v-model="c.permitStatus"  value="S4" >
                          </div>
                        </div>
                        <div class="row ch">
                          <div class="col-md-2">
                              <h3 style="margin-top: 0">S5</h3>
                          </div>
                          <div class="form-group col-md-4">
                              <input type="checkbox" v-model="c.permitStatus"  value="S5" >
                          </div>
                        </div>
                      </form>
                      <hr>
                  </div>
                  <div class="x_footer">
                    <button type="button" :id="c._id" onclick="updateChannel(this.id)" class="btn btn-primary btn-block">Update Channel</button>
                  </div>
              </div>
          </div>
          </div>
          <!-- Modal create-->
          <div class="modal fade" id="createModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog " role="document">
              <div class="modal-content">
                <form>
                  <div class="modal-header">
                    <h3 class="modal-title" id="ModalLabel">Create channel</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form class="form-horizontal form-label-left input_mask">
                      <div class="row">
                        <label>Name</label>
                        <input type="text" class="form-control" v-model="newChannel.name">
                      </div>
                      <br><br>
                      <div class="row ch">
                        <div class="col-md-2">
                            <h3 style="margin-top: 0">S1</h3>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="checkbox" v-model="newChannel.permitStatus"  value="S1" >
                        </div>
                        <div class="col-md-2">
                          <h3 style="margin-top: 0">S2</h3>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="checkbox" v-model="newChannel.permitStatus"  value="S2" >
                        </div>
                      </div>

                      <div class="row ch">
                        <div class="col-md-2">
                            <h3 style="margin-top: 0">S3</h3>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="checkbox" v-model="newChannel.permitStatus"  value="S3" >
                        </div>
                        <div class="col-md-2">
                          <h3 style="margin-top: 0">S4</h3>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="checkbox" v-model="newChannel.permitStatus"  value="S4" >
                        </div>
                      </div>
                      <div class="row ch">
                        <div class="col-md-2">
                            <h3 style="margin-top: 0">S5</h3>
                        </div>
                        <div class="form-group col-md-4">
                            <input type="checkbox" v-model="newChannel.permitStatus"  value="S5" >
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" id="closeCreateModal" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="button" onclick="createChannel()" class="btn btn-primary">Add</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <!-- /Modal create -->
        </div>
      </div>
      <!-- /page content -->

        <% include ./tags/admin/footer %>
        <script src="/vue-tables-2-master/dist/vue-tables-2.min.js"></script>
        <script type="text/javascript">
          var vue = new Vue({
          el: "#content",
          data: {
            channels: <%- channels %>,
            channel: {},
            project: {},
            projectId: "<%= project._id %>",
            user: "<%= currentUser.fullname %>",
            newChannel: {}
          },
          methods: {
            findItem(id) {
              for (var c of this.channels) {
                if (c._id === id) {
                  this.channel = c;
                  break;
                }
              }
            },
          }
        });

      var csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

      var createModal = () => {
        vue.newChannel.permitStatus = [];
        vue.newChannel.name = "";
        $('#createModal').modal('show');
      }

      var createChannel = () => {
        vue.newChannel.projectId = vue.projectId;
        fetch("/rest/admin/channel", {
          headers: {
              'Content-Type': 'application/json',
              'csrf-token': csrfToken
          },
          method: "POST",
          body: JSON.stringify(vue.newChannel)
        })
        .then(response => {
          document.getElementById('closeCreateModal').click();
          if (response.status === 201) {
            response.json().then(data => {
              vue.channels.push(data.channel);
              toastr.success(data.message);
            });
          } else {
            response.json().then(data => {
                toastr.error(data.message);
            });
          }
        })
        .catch(err => {
            toastr.error(err);
        });
      }

      var updateChannel = (id) => {
        vue.findItem(id);
        fetch("/rest/admin/channel/" + id, {
          headers: {
              'Content-Type': 'application/json',
              'csrf-token': csrfToken
          },
          method: "PUT",
          body: JSON.stringify(vue.channel)
        })
        .then(response => {
            if (response.status === 200) {
              response.json().then(data => {
                toastr.success(data.message);
              });
            } else {
              response.json().then(data => {
                  toastr.error(data.message);
              });
            }
        })
        .catch(err => {
            toastr.error(err);
        });
      }

    </script>
  </body>
</html>