<% include ./tags/admin/head %>
<link href="/chat.css" rel="stylesheet">
<meta name="projectId" content="<%= project._id %>">
<style>
.selected {
    background-color: lightgray
    }
.hover:hover {
    background-color: lightgray;
}
.hover:hover button {
    display: inline-block;
}
div.chatBox {
  width: 100%;
  margin: 0 auto;
  border: 4px solid #53bb78;
}
/* div.chat {
  height: 70vh;
  overflow: auto;
} */
div.message {
  width: 60%;
  background-color: #cad6d6;
}
div.message-mine {
  width: 60%;
  background-color: lightgreen;
}
body {
  overflow: hidden;
}
</style>
<% include ./tags/admin/header %>

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="clearfix"></div>
          <div class="panel-group">
            <div class="panel panel-default chatBox">
              <div class="panel-heading" style=" background-color: #53bb78">
                <h3 style="text-align: center;">Channel <%= channel.name %></h3>
              </div>
              <div class="panel-body chat" id="chatRoom">
                <div class="msg_history" id="messageHistory">
                  <div v-for="m in messages">
                    <div v-if="m.user !== user">
                      <div class="incoming_msg">
                        <div class="received_msg">
                          <div class="received_withd_msg">
                            <p>{{ m.body }}</p>
                            <span class="time_date"><strong> {{ m.user }}</strong> - {{new Date(m.created_at).toLocaleDateString('el-GR', { hour: '2-digit', minute: '2-digit' })}}</span>
                          </div>
                        </div>
                      </div>
                      <br>
                    </div>
                    <div v-else>
                      <div class="outgoing_msg">
                        <div class="sent_msg">
                          <p>{{ m.body }}</p>
                          <span class="time_date"><strong> {{ m.user }}</strong> - {{new Date(m.created_at).toLocaleDateString('el-GR', { hour: '2-digit', minute: '2-digit' })}}</span> </div>
                      </div>
                    </div>





                  </div>
                </div>
                <div class="type_msg">
                  <div class="input_msg_write">
                    <input type="text" class="write_msg" id="message" placeholder="Type a message" />
                    <button class="msg_send_btn" onclick="uploadMessage()" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                  </div>
                </div>
              </div>
            </div>
          </div>
            
          </div>
        </div>
        <!-- /page content -->

        <% include ./tags/admin/footer %>
        <script src="/vue-tables-2-master/dist/vue-tables-2.min.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script>
          
        </script>
        <script type="text/javascript">
          
          var vue = new Vue({
            el: "#chatRoom",
            data: {
              messages: <%- messages %>,
              channelId: "<%= channel._id %>",
              project: {},
              projectId: "<%= project._id %>",
              user: "<%= currentUser.fullname %>"
            }
          });

          function updateScroll(){
            var element = document.getElementById("messageHistory");
            element.scrollTop = element.scrollHeight;
          }

          var chatInput = document.getElementById("message");
          chatInput.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
              event.preventDefault();
              uploadMessage();
            }
          });

          var csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

          var socket = io();

          var uploadMessage = () => {
            var text = document.getElementById('message').value;
            var formObject = {
              body: text,
              user: vue.user,
              channelId: vue.channelId
            }
            socket.emit('chat message', formObject);
            document.getElementById('message').value = '';
            return false;
          }

          socket.on('chat message', function(msg){
            if (msg.channelId === vue.channelId) {
              vue.messages.push(msg);
              setTimeout(updateScroll, 0);
            }
          });

          updateScroll();

          <% errors.forEach(function (error) { %>
              toastr.error("<%= error %>");       
          <% }) %>
          <% infos.forEach(function (info) { %>
              toastr.info("<%= info %>");       
          <% }) %>
      </script>
  </body>
</html>